<!-- About ERB Template -->

<%= erb :header %>

<h1>About</h1>

<pre>
This site is a demonstration of how to build a website using Sinatra.

It is a part of coursework COEN - 278 Web Programming - II.

A course in MS (Computer Science & Engineering) @ Santa Clara University.

It will work as a starter app for Sinatra.
</pre>

<%= erb :footer %>