<!-- Contact ERB Template -->

<%= erb :header %>

<h1 class="page-header">Contact</h1>

<div class="content-container contact">
  <pre>
I'm available on almost all the social media platform.

You can contact me as you please.

Email     - <a href="mailto:desaiuditd@gmail.com">desaiuditd@gmail.com</a>
Facebook  - <a href="https://www.facebook.com/desaiuditd">https://www.facebook.com/desaiuditd</a>
Google    - <a href="https://plus.google.com/+UditDesaiIncog">https://plus.google.com/+UditDesaiIncog</a>
Twitter   - <a href="https://twitter.com/desaiuditd">https://twitter.com/desaiuditd</a>
Instagram - <a href="http://instagram.com/desaiuditd">http://instagram.com/desaiuditd</a>
Github    - <a href="https://github.com/desaiuditd">https://github.com/desaiuditd</a>
Blog      - <a href="http://blog.incognitech.in/">http://blog.incognitech.in/</a>
  </pre>

</div>

<%= erb :footer %>