<!-- Login ERB Template -->

<%= erb :header %>

<h1 class="page-header">Login</h1>

<div class="content-container">

  <form class="form-horizontal center-block" method="post" action="/login">
    <fieldset>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputEmail" name="email" placeholder="Email" autocomplete="off">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
          <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" autocomplete="off">
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>

</div>

<%= erb :footer %>